/*
* ----------------------------------------------------
Author       : Ideas_Factory
Template Name: Soliman - Creative Portfolio Template
* ----------------------------------------------------
*/

/*
* -----------------------------------------------------
*  01.Common Styles 
*  02.Preloader 
*  03.Scroll Top
*  04.Home Section
*  05.About Section 
*  06.Portfolio Section 
*  07.Services Section 
*  08.Blog Section
*  09.Testimonials Section
*  10.Contact Section 
*  11.Footer
* -----------------------------------------------------
*/



/*=================================*/
/*  01.Common Styles 
/*=================================*/

*{
    margin: 0;
    padding: 0
}
body {
    font-family: Poppins, Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 2.2;
    background-color: #fff;
    color: #797979;
}

img {
    border-style: none;
    width: 100%;
    height: auto;
    max-width: 100%;
    vertical-align: top; 
}

a, a:hover, a:focus  {
    text-decoration: none;
    outline: none;
    color: inherit;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.display-table {
    display: table;
    height: 100%;
    width: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.padding-top-90 {
    padding-top: 90px;
}

.padding-bottom-90 {
    padding-bottom: 90px;
}

.sec_title {
    padding-bottom: 75px;
    text-align: center;
}

.sec_title h2 {
    font-size: 45px;
    font-weight: 900;
    color: #242424;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    padding-bottom: 17px;
}

.sec_title h2:after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translate(-50%);
    width: 107px;
    height: 10px;
    background-image: url(../images/title_bg.png);
}

.primary_bg {
    background-color: #f4f4f4;
}

.bg_image {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.animated_scroll {
    animation-name: none;
    visibility: hidden;
}

h1, h2, h3, h4,
.navbar-nav > li > a,
.navbar-default .navbar-brand,
.skills .skill span,
.portfolio ul li,
.testimonials .name-job .name {
    font-family: 'Montserrat', sans-serif;
}
/*End Common Styles*/



/*=================================*/
/*  02.Preloader 
/*=================================*/

.page-loader {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100000;    
}

.loader {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 2px solid rgba(0,0,0, 0.08);
    border-right: 2px solid rgba(0,0,0, 0.08);
    border-bottom: 2px solid rgba(0,0,0, 0.08);
    border-left: 2px solid rgba(0,0,0, 0.8);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 100001;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*End Preloader*/



/*=================================*/
/*  03.Scroll Top
/*=================================*/

.top {
    position: fixed;
    bottom: 8px;
    right: 10px;
    z-index: 50000;
    transform: translateX(50px);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.scroll_top_show {
    transform: translateX(0);
    opacity: 1;
}

.top i {
    background: #313131;
    color: #fff;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

/*End Scroll Top*/



/*=================================*/
/*  04.Home Section
/*=================================*/

.navbar-default {
    background-color: transparent;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    color: #fff;
}

.navbar-nav > li,
.navbar-brand {
    padding: 30px 15px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li > a {
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.navbar-default .navbar-nav a:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(255, 255, 255, 0.85);
    pointer-events: none;
    opacity: 0;
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
    transition: -webkit-transform .3s cubic-bezier(0.55,.085,.68,.53),opacity .2s cubic-bezier(0.55,.085,.68,.53);
    transition: transform .3s cubic-bezier(0.55,.085,.68,.53),opacity .2s cubic-bezier(0.55,.085,.68,.53);
}

.navbar-default .navbar-nav > li > a:hover:after,
.navbar-default .navbar-nav > li > a:focus:after,
.navbar-default .navbar-nav > li.active > a:after {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition: -webkit-transform .3s cubic-bezier(0.25,.46,.45,.94),opacity 0s linear;
    transition: transform .3s cubic-bezier(0.25,.46,.45,.94),opacity 0s linear;
}

.nav_scroll {
    background-color: #000;
}

.nav_scroll .navbar-nav > li,
.nav_scroll .navbar-brand {
    padding: 20px 15px;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    height: 2px;
    width: 22px;
    transition: all 0.2s;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    opacity: 0;
}

.navbar-toggle .icon-bar:nth-of-type(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.collapsed .icon-bar {
    transform: none !important;
    opacity: 1 !important;
}

.home .display-table {
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.home h1 {
    color: #fff;
    font-size: 90px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 35px;
}

.home h3 {
    color: #fafafa;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 35px;
    overflow: hidden;
}

.home h3 span:after {
    content: "-";
    position: absolute;
    top: 5px;
    left: 54%;
    width: 100%;
    height: 100%;
}

.home h3 span:last-of-type:after {
    content: "";
}

.home h3 span {
    position: relative;
    display: inline-block;
    padding: 5px 8px;
    margin-right: 5px;
    text-transform: uppercase;
}

.home .social {
    position: relative;
    z-index: 5;
}

.home .social li {
    display: inline-block;
}

.home .social a {
    margin-left: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.home .social a:hover {
    opacity: 0.5;
}

.home .social li:first-of-type a {
    margin-left: 0;
}

.home .social i {
    font-size: 18px;
    color: #fafafa;
}

.scroll_down {
    position: absolute;
    left: calc(50% - 1px);
    bottom: 2px;
    width: 1px;
    height: 80px;
}

.scroll_down span {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: calc(50% - 1px);
    z-index: 8;
    opacity: 0.8;
    background: #fff;
    -webkit-animation: animi-scroll-down 2.5s ease-in-out forwards infinite;
    animation: animi-scroll-down 2.5s ease-in-out forwards infinite;
}

@-webkit-keyframes animi-scroll-down {
  0% {
    clip: rect(0,auto,0,auto);
  }
   80% {
    clip: rect(0,auto,82px,auto);
  }
   100% {
    clip: rect(82px,auto,82px,auto);
  }
}
   @keyframes animi-scroll-down {
  0% {
    clip: rect(0,auto,0,auto);
  }
   80% {
    clip: rect(0,auto,82px,auto);
  }
   100% {
    clip: rect(82px,auto,82px,auto);
  }
}

/* Home Type */

.home .type h1 {
    font-weight: 600;
    margin-bottom: 45px;
}

.home .type h1 #typed {
    font-weight: 900;
}

.home .type span.typed-cursor {
    font-weight: 100;
    font-size: 90px;
    display: inline-block;
    transform: translateY(-5px);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: flash;
    animation-name: flash;
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.go_down {
    position: absolute;
    bottom: 15px;
    z-index: 5;
    width: 100%;
    text-align: center;
}

.go_down a {
    display: inline-block;
    width: 30px;
    height: 30px;
    opacity: 0.9;
    -webkit-animation: go_down_anim 1.5s linear 0s infinite;
    animation: go_down_anim 1.5s linear 0s infinite;
    position: relative;
}

.go_down span {
    display: inline-block;
    position: relative;
}

.go_down span:after, .go_down span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-126deg);
    transform-origin: 0% 45%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.go_down span:before {
    transform: rotate(-54deg);
}

.go_down span:last-of-type {
    transform: scale(0.7);
    top: -8px;
    left: -3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.go_down a:hover span:last-of-type {
    top: -10px;
}

.go_down a:hover span:last-of-type:before {
    transform: rotate(-90deg);
}

.go_down a:hover span:last-of-type:after {
    transform: rotate(-270deg);
}

@-webkit-keyframes go_down_anim {
  0% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px); }
  50% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); }
  100% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px); } 
}

@keyframes go_down_anim {
  0% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px); }
  50% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); }
  100% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px); } 
}

#particles-js{
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.svg_shape {
    position: relative;
}

.scroll_svg {
    bottom: 65px;
}

.scroll_down_svg {
    bottom: 52px;
}

.svg_divider {
    position: absolute;
    bottom: -1px;
    transform: rotate(180deg);
    width: 100%;
    left: 0;
    overflow: hidden;
}

#bigHalfCircle {
    bottom: -10px;
    transform: rotate(0deg);
}

.svg_divider svg {
    fill: #fff;
    height: 40px;
    width: calc(100% + 2px);
}


/*End Home Section */



/*=================================*/
/*  05.About Section 
/*=================================*/

.about h3 {
    font-size: 24px;
    font-weight: 700;
    color: #111;
    margin-bottom: 18px;
}

.about .my__img {
    padding-right: 30px;
    padding-bottom: 30px;
    position: relative;
}

.about .my__img:after, 
.about .my__img:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 90%;
    height: 90%;
    border: 8px solid rgba(0,0,0,0.05);
    margin-left: 10%;
}

.about .my__img:after {
    left: 15px;
    bottom: 15px;
    border-width: 2px;
    width: calc(90% - 30px);
    height: calc(90% - 30px);
}

.about .my__img img {
    position: relative;
    z-index: 5;
    box-shadow: 0 0 65px 0 rgba(0,0,0,0.15);
}

.about .padding-left-35 {
    padding-left: 35px;
}

.skills {
    margin-top: 2px;
}

.skills .skill {
    margin-bottom: 3px;
    visibility: hidden;
}

.skills .skill .progress_bg {
    background-color: rgba(0, 0, 0, 0.06);
}

.skills .skill .progress_bar {
    height: 5px;
    background-color: #222;
}

.skills .skill span {
    font-size: 14px;
    font-weight: 600;
    color: #222;
}

.skills .skill span:last-of-type {
    float: right;
}

.about .about_btns a {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    padding: 18px 20px;
    border: 2px solid #222;
    color: #000;
    min-width: 154px;
    margin-top: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.about .about_btns a:first-of-type {
    margin-right: 30px;
    color: #fff;
    background-color: #222;
}

.about .about_btns a:first-of-type:hover {
    background-color: transparent;
    color: #000;
}

.about .about_btns a:last-of-type:hover {
    background-color: #222;
    color: #fff;
}

/*End About Section*/



/*=================================*/
/*  06.Portfolio Section 
/*=================================*/

.portfolio .ul-filter {
    text-align: center;
    margin-bottom: 30px;
}

.portfolio ul li {
    display: inline-block;
    padding: 0 10px 10px 10px;
    margin-left: 10px;
    cursor: pointer;
    color: #B1B1B1;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    transition: all 0.2s ease-in-out 0.2s;
}

.portfolio ul li.active_filter,
.portfolio ul li:hover {
    color: #000;
}

.portfolio .grid-item {
    margin-bottom: 30px;
}

.portfolio .box {
    position: relative;
    overflow: hidden;
}

.portfolio .box:hover .boxContent {
    opacity: 1;
    transform: scale(1);
}

.portfolio .box img {
    width: 100%;
    height: auto;
}

.portfolio .box .boxContent {
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    color: #222;
    z-index: 1;
    background: rgba(0,0,0,0.8);
    transform: scale(0.9);
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.portfolio .box .title {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.portfolio .box .post {
    display: block;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: 400;
    color: #999;
}

/*End Portfolio Section*/



/*=================================*/
/*  07.Services Section 
/*=================================*/

.services .content {
    position: relative;
    z-index: 55;
    text-align: center;
    padding: 45px 25px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease-in-out 0s;
}

.services .content:hover {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.1);
}

.services .icon {
    display: inline-block;
    position: relative;
    z-index: -2;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: #eee;
}

.services i {
    font-size: 30px;
    color: #222;
    line-height: 82px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.services i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #111;
    border-radius: 50%;
    transform: scale(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.services .content:hover i {
    color: #fff;
}

.services .content:hover i:after {
    transform: scale(1);
}

.services h3 {
    font-size: 18px;
    font-weight: 600;
    color: #111;
    margin-top: 25px;
    margin-bottom: 15px;
}

.services p {
    margin-bottom: 0;
    font-size: 15px;
}

/*End Services Section*/



/*=================================*/
/*  08.Blog Section
/*=================================*/

.blog .item,
.blog .item .blog__img {
    overflow: hidden;
    position: relative;
}

.blog .item .blog__img img {
    -webkit-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
}

.blog .item:hover .blog__img img {
    transform: scale(1.1);
}

.blog .content {
    background-color: #fff;
    padding: 15px 20px;
    margin-bottom: 15px;
    padding-top: 0;
    box-shadow: 0px 2px 15px 0 rgba(0,0,0,0.08);
}

.blog .content .bold {
    display: block;
    padding-top: 28px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.55);
}

.blog h3 {
    color: #111;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 7px;
    margin-top: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.blog h3:hover {
    opacity: 0.7;
}

.blog .content p {
    font-size: 15px;
}

/*End Blog Section*/



/*=================================*/
/*  09.Testimonials Section
/*=================================*/

.testimonials {
    padding: 100px 0;
}

.testimonials .testimonial img {
    display: block;
    margin: auto;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-bottom: 25px;
    box-shadow: 0 0 1px #000;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.testimonials .testimonial:hover img {
    border-radius: 0;
    box-shadow: 0 0 5px #000;
}

.testimonials .testimonial {
    width: 90%;
    margin:auto;
    cursor: move;
}

.testimonials .name-job {
    text-align: center;
}

.testimonials p {
    font-size: 15px;
    letter-spacing: 0.5px;
    text-align: center;
}

.testimonials .name-job .name {
    color: #333;
    font-size: 22px;
    font-weight: 700;
}

.testimonials .name-job .job {
    display: block;
    color: #888;
    font-size: 14px;
    margin-top: 8px;
    font-weight: 500;
}

.owl-pagination {
    margin-top: 40px;
}

.owl-theme .owl-controls .owl-page span {
    background-color: #AFAFAF;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0.8);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    transform: scale(1);
}

/*End Testimonials Section*/



/*=================================*/
/*  10.Contact Section 
/*=================================*/

.contact .sec_title h2:after {
    left: 52%;
}

.contact .info {
    margin-bottom: 35px;
}

.contact .info span {
    font-size: 40px;
    display: inline-block;
    margin-right: 15px;
    position: relative;
    top: -4px;
    color: #222;
}

.contact .info span:after {
    content: "";
    position: absolute;
    top: 0;
    right: -16px;
    width: 1px;
    height: 41px;
    background-color: #CECCCC;
}

.contact .content div {
    display: inline-block;
    text-align: left;
    padding-left: 12px;
}

.contact .content h4 {
    font-size: 16px;
    font-weight: 600;
    color: #222;
}

input.form-control {
    width: calc(50% - 10px);
    float: left;
    margin-right: 20px;
}

input.form-control:last-of-type {
    margin-right: 0;
}

.contact .form-control {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: rgb(255, 255, 255);
    border: 1px solid #ddd;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: all 0.5s ease-in-out 0.1s;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    margin-bottom: 20px;
}

.contact .form-control:focus {
    border-color: #000;
}

.contact textarea {
    height: 170px;
}

.contact form .btn {
    color: #fff;
    border: 2px solid transparent;
    line-height: 1;
    background: #111;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 0;
    width: 150px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 10px;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}

.contact form .btn:active,
.contact form .btn:focus,
.contact form .btn:hover {
    color: #000;
    background-color: transparent;
    border-color: #111;
}

.btn:focus,
.btn:active,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;    
}

.errorForm {
    border: 1px solid #da4856 !important;
}

.msg_success,
.msg_error {
    display: none;
    font-size: 12px;
    padding-top: 15px;
    position: absolute;
    bottom: -65px;
    text-transform: capitalize;
}

.msg_error {
    color: #CE3D3D;
}

.msg_success {
  color: #1FB4DA;
}

/*End Contact Section*/



/*=================================*/
/*  11.Footer
/*=================================*/

footer {
    background: #000;
}

footer h3 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

footer p {
    color: #999;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
}

footer .social-links {
    margin-bottom: 20px;
}

footer .social-links a {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    color: #fafafa;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: rgba(255,255,255,0.1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

footer .social-links a:hover {
    color: #111;
    background-color: #fff;
}

footer .social-links a i {
    line-height: 42px;
}

/*End Footer*/